.pop-button:armed.button {
	-fx-border-color: black;
	-fx-border-width: 2.0px 2.0px 0.0 0.0;
	-fx-text-fill: #535353;
	-fx-label-padding: 2.0px 2.0px 0.0 0.0;
}

.pop-button.button {
	-fx-font-family: Consolas;
	-fx-border-width: 0.0 0.0 2.0px 2.0px;
	-fx-text-fill: white;
	-fx-font-weight: bold;
	-fx-border-color: black;
}